<a href={{url}}>
  {{#if topic.thumbnails}}
    <img
      src={{fallbackSrc}}
      srcset={{srcset}}
      width={{width}}
      height={{height}}
      loading="lazy"
      [ngClass]="{'has-image topic-tile-thumbnail': topic.thumbnails, 'none-image topic-tile-thumbnail': !topic.thumbnails}"
    />
  {{/if}}

  <div class="topic-info">
    <span class="topic-title">{{topic.title}}</span>
    <span class="author">
      {{#user-link user=topic.creator}}
        {{avatar topic.creator imageSize="large"}}
      {{/user-link}}
    </span>
  </div>
</a>